<section class="sec-footer">
  <div class="footer">
    <div class="container-fluid">
      <div class="card-group my-4">
        <div class="card">
          <div class="card-body text-center text-white">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center text-white">
            <h3 class="pb-2">AROUND THE WEB</h3>
            <div class="icons">
              <span class="icon mx-1"
                ><i class="fa-brands fa-facebook"></i
              ></span>
              <span class="icon mx-1"
                ><i class="fa-brands fa-twitter"></i
              ></span>
              <span class="icon mx-1"
                ><i class="fa-brands fa-linkedin-in"></i
              ></span>
              <span class="icon mx-1"><i class="fa-solid fa-globe"></i></span>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center text-white">
            <h3>ABOUT FREELANCER</h3>
            <p>
              Freelance is a free to use, licensed Bootstrap theme created by
              Route
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer2">
    <p class="text-white text-center p-4">Copyright © Your Website 2021</p>
  </div>
</section>
