<section class="about">
  <div class="content mt-5">
    <div>
      <h2 class="text-center text-white f-40">ABOUT COMPONENT</h2>
      <div
        class="text-white d-flex align-items-center justify-content-center p-3"
      >
        <div class="line me-3"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3"></div>
      </div>
    </div>
    <div class="container">
      <div class="row p-4">
        <div class="col-lg-6">
          <p class="text-white f-16">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
        <div class="col-lg-6">
          <p class="text-white f-16">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
